.title {
  text-align: left;
}
.buttonList {
  display: flex;
  margin-left: 25px;
}
.button {
  padding: 3px;
  width: 60px;
  color: white;
  font-size: 15px;
  font-weight: 700;
  background-color: rgb(70, 67, 67);
}
.button:not(:first-child) {
  margin-left: 10px;
}
